<div class="hero">
	<div class="container">
		<div class="col-sm-4">
			<h2>Resourcing</h2>
			<h3>Made Easy!</h3>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h2>Resourcing app</h2>
			<p>Here is where ill list some features.</p>
		</div>
		<div class="col-sm-6">
			<div class="well">
				<%=link_to 'Sign Up', new_account_path %>
			</div>
		</div>		
	</div>
</div>