<div class="container">
<h1>New <%= @subscription_type.title %> Subscription</h1>

<% @subscription.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
<% end %>
<div class="well">
	<p>Price: $<%= @subscription_type.price %>.00/Month</p>
	<p>30 day free trial included</p>
</div>

<%= render :partial => "subscriptions/form" , :locals => {:subscription_id => @subscription_type.id} %>
</div>