/*App Header Css*/
.navbar-app{
	padding-top:0;
	min-height:40px;
	height:40px;
}
.navbar-app .navbar-nav > li > a{
	padding-top:10px;
	padding-bottom:10px;
}
.navbar-brand{
	padding-top:10px;
	padding-bottom:10px;
}

.user_photo{
	height:15px;
	width:22px;	
	display:inline-block;
}