<div class="container">
	<div class="col-sm-4 col-sm-push-4">
		<div class="well">
			<h2>New Account</h2>
			<p>Create an account to start your 30 day trial. No credit card required</p>
			<%= render 'form' %>
		</div>
	</div>
</div>
